{% extends 'back/home.html.twig' %}

{% block title %}QUIZ
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/cours.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/navbar.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="app-container">


		<main
			class="main-content">
			<!-- Hero Section -->
			<div class="hero">
				<div class="hero-bg">
					<div class="hero-content">
						<div class="hero-text">
							<h1>LIST OF QUIZZES</h1>
							<p>You may find down below the list of QUIZZES</p>
						</div>
						<div class="hero-image">
							<img src="{{ asset('images/img.png') }}" alt="Hero Image">
						</div>
					</div>
				</div>
			</div>

			<table>
				<thead>
					<tr>
						<th>Id Quiz</th>
						<th>Title</th>
						<th>Course ID</th>
						<th>Questions & Answers</th>
						<th>Correct Answers</th>

					</tr>
				</thead>
				<tbody>
					{% for quiz in tabquizzes %}
						<tr>
							<td>{{ quiz.id }}</td>
							<td>{{ quiz.title }}</td>
							<td>{{ quiz.IdCours.id }}</td>
							<td>
								{% for question in quiz.questions %}
									<div class="question">
										<p>
											<strong>{{ question.question }}</strong>
										</p>
										<ul>
											{% for answer in question.answers %}
												<li>{{ answer }}</li>
											{% endfor %}
										</ul>
										<p>
											<strong>Correct Answer:</strong>
											{{ question.correct }}</p>
										<p>
											<strong>Your Answer:</strong>
											{{ question.userAnswer ? question.userAnswer : 'Not answered yet' }}</p>
									</div>
								{% endfor %}
							</td>
							<td>
								{% for correctAnswer in quiz.correctAnswers %}
									{{ correctAnswer }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}
